.leaflet-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.container {
  position: absolute;
  width: 21%;
  height: min-content;
  /* background-color: black; */
  z-index: 450;
  display: flex;
  flex-direction: column;
  left: 6%;
  top: 2%;
}

#outlined-basic{
  background-color: rgb(58, 59, 57, 0.3);
  padding-bottom: 5px;
}